.main {
  margin-top: 100px;
}

.logo-img {
  display: block;
  width: 300px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.search-input {
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  /*
    Challenge: 
    Design the search field according to the spec
    */
  /* 
    Height 24px 
    padding y: 10px 
    padding x: 30
    border w: 1px
    border color: #dfe1e5
    radius: 24px
    */
}
